.bioSection {
    display: grid;
    width: 100%;
    color: white;

    .bioBody {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .aboutMe { 
            display: grid;
            margin: 1rem 1rem 0rem 3rem;
            font-family: Quantico, sans-serif;
            font-weight: 700;
            font-size: 100%;
            .text{
                color: white;
                margin-bottom: 1rem;
            }
        }

        .imgWrapper {
            justify-self: end;
            padding-right: 5%;

            .profile_pic {
                background-color: transparent;
                height: 15rem;
                margin: 0rem 2rem 2rem 3rem;
                border-radius: 50%;
                border: solid white 5px;
            }
        }
    }
}

.mobileBioSection {
    display: grid;
    width: 100%;
    justify-self: center;
    color: white;
    .mobileTitle{
        justify-self: center;
    }
    .bioBody {
        display: grid;
        width: 100%;
        justify-content: space-between;

        .text{
            color:white;
            margin-bottom: 1rem;
        }
        .mobileImgWrapper {
            justify-self: center;
            
            .profile_pic {
                background-color: transparent;
                height: 10rem;
                border-radius: 50%;
                border: solid white 5px;
            }
        }
        .aboutMe {
            display: grid;
            justify-content: space-between;
            margin: 1rem 0rem 1rem 0rem;
            font-family: Quantico, sans-serif;
        }
    }
}