.menu {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    z-index: 2;

    .nav-btn {
        font-family: Quantico, sans-serif;
        box-shadow: none;
        box-shadow: none;
    }

    .nav-btn:hover {
        transition: 0.5s;
        color: rgb(195, 26, 26);
        font-family: Quantico, sans-serif;
    }

    .menuNavbar {
        margin: 1vw 2vw 1vw 2vw;
        text-decoration: none;
<<<<<<< Updated upstream
=======
        .menuIcon {
                margin-right: .5rem !important;
                color:primary
            }
        .menuIcon:hover {
            color: rgb(195, 26, 26);
        }
>>>>>>> Stashed changes
    }

    .name {
        font-size: 1.5rem;
        font-weight: 900;
        justify-self: center;
    }
}
.mobileHeader{
    display: flex;
    justify-content: space-between;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: black;
    height: 5%;
    .mobileProfilePic {
        background-color: transparent;
        margin: .3rem;
        height: 2rem ;
        border-radius: 50%;
        border: solid white 1px;
    }
}
.mobileMenu {
    display: grid;
    justify-content: space-between;
    text-decoration: none;
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
<<<<<<< Updated upstream
    z-index: 2;

    .nav-btn {
        font-family: Quantico, sans-serif;
        box-shadow: none;
        box-shadow: none;
    }

    .nav-btn:hover {
        transition: 0.5s;
        color: rgb(195, 26, 26);
        font-family: Quantico, sans-serif;
=======
    z-index: 1;
    .menuNavbar{
        display: flex;
        text-decoration: none;
        .menuIcon{
            margin-right: .5rem !important;
            color: primary
        }
        .menuIcon:hover{
            color: rgb(195, 26, 26);
        }
        .nav-btn {
            font-family: Quantico, sans-serif;
            font-weight: bolder;
            box-shadow: none;
            box-shadow: none;
        }
        
        .nav-btn:hover {
            transition: 0.5s;
            color: rgb(195, 26, 26);
            font-family: Quantico, sans-serif;
        }
>>>>>>> Stashed changes
    }

   
}