.jonah {
    display: grid;
    color: white;
    margin: 3rem 2rem 0rem 2rem;
    .inputField {
        margin-top: 1rem;
        width: 100wh;
        border-radius: 8px;
        background-color: rgb(69, 68, 68);
    }
    .responseWrapper{
        display: grid;
        .jonahButton{
            justify-self: end;
        }
    }
    .response{
        justify-self: center;
        margin: 1rem 0rem 3rem 0rem;
    }

    .jonahBody {
        display: grid;
    }
}
