.jonah {
    display: grid;
    color: white;
    width: 100%;
    margin: 0rem 2rem 0rem 2rem;

    .inputField {
        margin-top: 1rem;
        width: 100wh;
        border-radius: 8px;
        background-color: rgb(69, 68, 68);
    }

    .jonahBody {
        display: grid;
    }
}