.App {
  /*to fit with screen size vw*/
  width: 100vw;
}
header {
  background-color: #0000ff;
  height: 100px;
}
.card {
  height: 10em;
  width: 15em;
  background-color: green;
  margin: 10px;
  flex: none;
}
body {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
