div {
  position: relative;
}
.App {
  /*to fit with screen size vw*/
  width: 100%;
  text-align: center;
  height: 100%;
}
.topHeader {
  background: transparent;
  height: 50vh;
  position: sticky;
  overflow: hidden;
}
.background_pic {
  top: 0vh;
  left: 0vw;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  object-fit: cover;
  object-position: 50% 40%;
}
.nav {
  position: sticky;
  top: 1vw;
  background-color: transparent;
  height: 20px;
  text-align: right;
}
.skillsetNavbar {
  margin: 2vw;
}
.aboutNavbar {
  margin: 2vw;
}
.connectNavbar {
  margin: 2vw;
}
.resumeNavbar {
  margin: 2vw;
}
.githubNavbar {
  margin: 2vw;
}
.dateTime {
  color: black;
}
.profile_pic {
  background-color: transparent;
  height: 50%;
  pointer-events: none;
  margin-top: 5%;
  border-radius: 50%;
  border: solid white 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .profile_pic {
    animation: App-logo-spin infinite 100s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title {
  height: 30%;
  text-align: center;
  font-family: Quantico, sans-serif;
  font-weight: 700;
  font-size: 3vw;
  margin: 1vw;
  justify-content: center;
}
.skillTitle {
  width: 45vw;
  text-align: center;
  font-family: Quantico, sans-serif;
  font-weight: 700;
  font-size: 3vw;
  margin-top: 4vw;
  justify-content: center;
}
.titleTop {
  margin-top: 3vh;
  text-align: center;
  font-family: Quantico, sans-serif;
  font-weight: 700;
  font-size: 3vw;
  color: antiquewhite;
}
.menu {
  margin: 1vw;
  text-decoration: none;
}
.skillsetWrapper {
  margin: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scroll-snap-align: center;
}
.skillSet1 {
  margin: 25px;
  flex: none;
}
.skillSet2 {
  margin: 25px;
  flex: none;
}
.skillSet3 {
  margin: 25px;
  flex: none;
}
.skillSet4 {
  margin: 25px;
  flex: none;
}
.bio {
  margin: 13vw;
  height: 20vh;
  margin-bottom: 18vh;
  scroll-snap-align: center;
}
.connect {
  margin: 13vw;
  margin-bottom: 20vh;
  margin-top: 10vh;
  scroll-snap-align: center;
}
.body {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  overflow-y: scroll;
  font-family: Quantico, sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.linkButton {
  border: solid cornflowerblue 2px;
  margin: 18vw;
  text-transform: uppercase;
  text-decoration: none;
}
.linkButton:hover {
  border-color: #e96106;
  color: black;
  background: #e96106;
}
.btn {
  font-family: Quantico, sans-serif;
  text-decoration: none;
  box-shadow: none;
  box-shadow: none;
}
.btn:hover {
  transition: 0.5s;
  color: white;
  font-family: Quantico, sans-serif;
  text-decoration: none;
}
